.vuScale-enter-active, .vuScale-leave-active
  transform-origin center center
  transition --transition(), --transition(opacity)

.vuScale-enter, .vuScale-leave-to
  transform scale(0)
  opacity 0

.vuFade-enter-active, .vuFade-leave-active
  transition --transition(opacity)

.vuFade-enter, .vuFade-leave-to
  opacity 0

.vuFadeBottom-enter-active, .vuFadeBottom-leave-active
  transition --transition(), --transition(opacity)

.vuFadeBottom-enter, .vuFadeBottom-leave-to
  transform translateY(8px)
  opacity 0

.vuFadeTop-enter-active, .vuFadeTop-leave-active
  transition --transition(), --transition(opacity)

.vuFadeTop-enter, .vuFadeTop-leave-to
  transform translateY(-8px)
  opacity 0

.vuDropdown-enter-active, .vuDropdown-leave-active
  transition --transition()

.vuDropdown-enter, .vuDropdown-leave-to
  transform rotate(45deg) scale(0.45)

.vuFadeLeft-enter-active, .vuFadeLeft-leave-active
  transition --transition(), --transition(opacity)

.vuFadeLeft-enter, .vuFadeLeft-leave-to
  transform translateX(-8px)
  opacity 0