$system-fonts = -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
$primary-color = dodgerblue
$default-color = rgb(244, 244, 244)
$disabled-bg = rgba(141, 141, 141, 0.1)
$disabled-color = rgba(141, 141, 141, 0.5)
$warning-color = rgba(red, 0.8)
$depth-low = 10